//imports

html {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header {
    position: fixed;
    height: 40px;
    background: orange;
    width: 100%;
    top: 0;
}

main {
    position: relative;
    overflow: hidden;
    margin: 40px 0 0 0;
}

section {

}