.form-select {
    position: relative;
    margin: 5px 0;
    height: 100%;
    &__label {
        height: 30%;
        width: 100%
    }

    &__select {
        height: 30px;
        width: 100%;
        padding: 0;
    }

    &__option {

    }

    &__iata {

    }
}