.order-summary {
    height: 50vh;
    background: linear-gradient(199deg, #FFFFFF 0%, #FFFFFF 51%, #C7007E 51%, #C7007E 100%); 
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__list {
        width: calc(80% - 50px);
        padding: 10px 5px;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
        background-color: #fff;
        margin: 10px;
    }
}