.order-summary {
    height: 80vh;
    background: linear-gradient(199deg, #FFFFFF 0%, #FFFFFF 51%, #C7007E 51%, #C7007E 100%); 
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__list {
        width: calc(50% - 50px);
        padding: 10px 5px;
        box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
        background-color: #fff;
        margin: 40px 10px 10px 10px;
    }

    &__total {
        padding: 0 5px;
        margin: 15px 0 5px 0;
        text-align: center;
    }

    &__button {
        margin: 15px 0 0 0;
    }
}

@media screen and (max-width: 992px) { 
    .order-summary {
        &__list {
            width: calc(80% - 50px);
        }
    }
}

@media screen and (max-width: 620px) { 
    .order-summary {
        padding: 5px 10px;
        &__list {
            width: calc(100% - 20px);
        }
    }
}