.summary-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px 10px 10px;
    font-size: 15px;
    border-bottom: 1px solid $border-main-color-with-opacity;
    flex-wrap: wrap;
    
    &__title {
        width: 100%;
        margin: 10px 0;
    }

    &__destinations,
    &__dates {
        width: 30%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__bundle,
    &__price {
        width: 20%;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}