<div class="" [formGroup]="groupName">
    <label>{{ config.label }}</label>
    <select [formControlName]="config.controlName">
        <option value="">{{ config.placeholder }}</option>
        <option *ngFor="let option of config.options" [ngValue]="option">
            {{ option[propertyName] }}
            <small *ngIf="optionalPropertyName">
                ({{ option[optionalPropertyName] }})
            </small>
        </option>
    </select>
    <form-error [showErrorOnSubmit]="isVisible" [errors]="groupName.get(config.controlName).errors" [label]="config.label"></form-error>
</div>