<section *ngIf="flights && flights.departureFlights.length > 0">
    <div>
        <ul *ngFor="let item of flights.departureFlights">
            <flight-card [flightDetail]="item" [isButtonsEnabled]="true" (buyTicket)="ticketHAndler($event)"></flight-card>
        </ul>
    </div>
    <div>
        <ul *ngFor="let item of flights.returnFlights">
            <flight-card [flightDetail]="item" [isButtonsEnabled]="true" (buyTicket)="ticketHAndler($event)"></flight-card>
        </ul>
    </div>
</section>