<section class="flight-search-container">
    <form class="flight-search-container__form" [formGroup]="flightSearchForm" (ngSubmit)="submitForm(flightSearchForm)" *ngIf="stations">
            <div class="flight-search-container__input-container" *ngFor="let config of configs" [ngSwitch]="config.type">
                <form-select *ngSwitchCase="'select'" [showErrorOnSubmit]="isSubmitted" [config]="config" [groupName]="flightSearchForm"></form-select>
                <form-input *ngSwitchCase="'input'" [showErrorOnSubmit]="isSubmitted" [config]="config" [groupName]="flightSearchForm"></form-input>
                <form-button *ngSwitchCase="'button'" [config]="config" [groupName]="flightSearchForm"></form-button>
            </div>
        </form>
</section>