<div class="summary-card">
    <div class="summary-card__destinations">
        <div>
            {{summaryItem.origin}}
        </div>
        <div>
            {{summaryItem.destination}}
        </div>
    </div>
    <div class="summary-card__dates">
        <div>
            {{summaryItem.departureDate | date: 'yyyy-MM-dd hh:mm'}}
        </div>
        <div>
            {{summaryItem.arrivalDate | date: 'yyyy-MM-dd hh:mm'}}
        </div>
    </div>
    <div class="summary-card__bundle">
        {{summaryItem.bundle}}
    </div>
    <div class="summary-card__price">
        {{summaryItem.price | currency}}
    </div>
</div>